<%= form_for @profile, url: user_profile_path(@user, @profile) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, 'Имя' %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name, 'Отчество' %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, 'Фамилия' %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label 'degree_id', 'Ученая степень' %>
    <%= f.select :degree_id, options_for_select= @degrees.collect {|p| [t(p.name, :scope => [:degrees]), p.id] }, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label :academic_title, 'Ученое звание' %><br>
    <%= f.select :academic_title, options_for_select= @academic_titles.collect {|p| [t(p.name, :scope => [:academic_titles]), p.id] }, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Телефон' %><br />
    <%= f.phone_field :phone %>
  </div>  
  <div class="field">
    <%= f.label :about, 'О себе' %><br />
    <%= f.text_area :about %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
