<%= form_for @profile, url: user_profile_path(@user), :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-4 small-12 columns">
      <%= f.label :last_name, 'Фамилия' %>
      <%= f.text_field :last_name %>
    </div>
    <div class="large-4 small-12 columns">
      <%= f.label :first_name, 'Имя' %>
      <%= f.text_field :first_name %>
    </div>
    <div class="large-4 small-12 columns">
      <%= f.label :middle_name, 'Отчество' %>
      <%= f.text_field :middle_name %>
    </div>
    <div class="large-6 small-12 columns">
      <%= f.label 'degree_id', 'Ученая степень' %>
      <%= f.select :degree_id, options_for_select= @degrees.collect {|p| [t(p.name, :scope => [:degrees]), p.id] }, {:include_blank => ''} %>
    </div>
    <div class="large-6 small-12 columns">
      <%= f.label :academic_title_id, 'Ученое звание' %>
      <%= f.select :academic_title_id, options_for_select= @academic_titles.collect {|p| [t(p.name, :scope => [:academic_titles]), p.id] }, {:include_blank => ''} %>
    </div>
    <div class="large-6 small-12 columns">
      <%= f.label :phone, 'Телефон' %>
      <%= f.phone_field :phone %>
    </div>
    <div class="large-6 small-12 columns">
      <%= f.label :email, 'Адрес электронной почты' %>
      <%= f.email_field :email %>
    </div>
    <div class="large-12 small-12 columns">
      <%= f.label :about, 'О себе' %>
      <%= f.text_area :about %>
    </div>
    <p>&nbsp;</p>
    <div class='large-12 small-12 columns'>
      <%= check_box_tag :entrant, '', (@entrant ? true : false) %>
      <%= label_tag :entrant, 'Являюсь абитуриентом' %>
    </div>
    <div class="large-12 small-12 columns">
    <%= fields_for Attachment.new do |a| %>
      <div class="filefild">
	<%= a.label :file, 'Аватар' %>
	<%= a.file_field :file %>
      </div>
      <% end %>
      <div class="actions">
	<%= f.submit 'Сохранить', class: 'small button' %>
      </div>
    <% end %>
    </div>
  </div>
