<section  class="panel">
<h1><%= @profile.full_name %></h1>
<%= render partial: 'articles/first_image_attachment', locals: {image_attachment: @last_image_attachment } if @last_image_attachment %>
<p><%= [(@profile.degree.name if @profile.degree), (@profile.academic_title.name if @profile.academic_title)].compact.join(', ') %>
<p><%= @profile.about %>
<dl>
<% if @posts.count > 0 %>
<dt>Занимаемые должности</dt>
<dd>
<ul>
<% @posts.each do |post| %>
  <li>
    <%= link_to "#{post.division.name} - #{post.name}", division_post_path(post.division, post) %>
<% end %>
</ul>
</dd>
<% end %>
<% if @profile.user.groups.count > 0 %>
<dt>Членство в группах</dt>
<dd>
<ul>
<% @profile.user.groups.each do |group| %>
  <li>
    <%= group.name %>
<% end %>
</ul>
</dd>
<% end %>
</dl>
</section>