<h1 class="block"><%= title %></h1>
<section class="panel">
  <%= render partial: 'articles/article', collection: articles, locals: { dimension: '75x75' } %>
<% case title %>
<% when 'Новости' %>
<%= link_to 'Архив новостей', archives_news_path %>
<% when 'Статьи' %>
<%= link_to 'Архив статей', archives_articles_path %>
<% when 'Анонсы' %>
<%= link_to 'Архив анонсов', archives_announcements_path %>
<% end %>
</section>