<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Заголовок' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Содержание' %>
    <%= f.text_area :content%>
  </div>
  <br />
  <div class="field">
    <%= f.label "Поле для переписки с модератором" %>
    <%= f.text_field :message %>
  </div>
  <% unless @employees.nil? %>
  <div class="field">
    <%= f.label 'Можно выбрать пользователя от имени которого, будет опубликован материал.' %>
    <%= f.select :user_id, options_for_select = @employees.collect {|p| [p.profile.full_name, p.id] }, {:include_blank => ''} %>
  </div>
  <% end %>
  <% unless @divisions.nil? %>
  <div class="field">
    <%= f.label 'Можно выбрать подразделение от имени которого, будет опубликован материал (если оставить поле незаполненным, то материал будет опубликован от Вашего имени).' %>
    <%= f.select :division_id, options_for_select= @divisions.collect {|p| [t(p.name, :scope => [:divisions]), p.id] }, {:include_blank => ''} %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label 'Можно выбрать группу пользователей, которые будут видеть опубликованный материал (если оставить поле пустым, то материал будет доступен всем).' %>
    <%= f.select :group_id, options_for_select= @groups.collect {|p| [t(p.name, :scope => [:groups]), p.id] }, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label 'Тип статьи: "Новость" - информация о прошедшем событии, имеющая значение в короткий период времени; "Анонс" - информация о предстоящем событии; "Материал" - основной материал, составляющий контент сайта.' %>
    <%= f.select :article_type_id, options_for_select= @article_types.collect {|p| [t(p.name, :scope => [:article_types]), p.id] }, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label 'Можно указать дату, после которой, материал будет автоматически снят с публикации (настоятельно рекомендуем указывать для анонсов событий).' %>
    <%= f.text_field :exp_date, id: 'datepicker' %>
  </div>
  <div class="field">
    <%= f.check_box :fixed %>
    <%= f.label 'Закрепить материал (если установить метку, то статья будет располагаться на странице подразделения неограниченное время).' %>
  </div>
  <div class="field">
    <%= f.check_box :commentable %>
    <%= f.label 'Разрешить комментирование статьи' %>
  </div>
  <% if @moderator_permission %>
    <div class="field">
      <%= f.check_box :published %>
      <%= f.label 'Опубликовать' %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Сохранить', class: "button tiny" %>
  </div>
<% end %>
