<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'title' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'content' %>
    <%= f.text_area :content%>
  </div>
  <% unless @divisions.nil? %>
  <div class="field">
    <%= f.label 'division_id' %>
    <%= f.select :division_id, options_for_select= @divisions.collect {|p| [t(p.name, :scope => [:divisions]), p.id] }, {:include_blank => ''} %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label 'group_id' %>
    <%= f.select :group_id, options_for_select= @groups.collect {|p| [t(p.name, :scope => [:groups]), p.id] }, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label :article_type_id %><br>
    <%= f.select :article_type_id, options_for_select= @article_types.collect {|p| [t(p.name, :scope => [:article_types]), p.id] }, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label :exp_date %><br>
    <%= f.date_select :exp_date, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.check_box :fixed %>
    <%= f.label :fixed %>
  </div>
  <% if @moderator_permission %>
    <div class="field">
      <%= f.check_box :published %>
      <%= f.label :published %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
