<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_type_id %><br>
    <%= f.select :article_type_id, options_for_select= @article_types.collect {|p| [t(p.name, :scope => [:article_types]), p.id] }, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label :exp_date %><br>
    <%= f.date_select :exp_date, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label :fixed %><br>
    <%= f.check_box :fixed %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.check_box :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
