<div class="row">
  <div class="<%= @articles['announcements'] ? 'large-8 columns' : 'small-12 large-12 columns' %>">
    <%= render partial: 'block', locals: {title: 'Новости', articles: @articles['news'] } if @articles['news']%>
    <%= render partial: 'block', locals: {title: 'Статьи', articles: @articles['articles'] } if @articles['articles']%>
  </div>
  <div class="<%= (@articles['news'] || @articles['articles']) ? 'large-4 columns' : 'small-12 large-12 columns' %>">
    <%= render partial: 'block', locals: {title: 'Анонсы', articles: @articles['announcements'] } if @articles['announcements'] %>
  </div>
</div>
