<section class="panel">
  <% if @moderator_permission || current_user == @article.user || @article.published %>
    <%= render partial: 'article', locals: { article: @article, dimension: '150x150', composition: {header: true, content: true, footer: true, truncate: false} } %>
  <% else %>
    <h1>Статья еще не опубликована или снята с публикации</h1>
  <% end %>
  <%  if @moderator_permission || (@writer_permission && current_user == @article.user) %>
  <h2>Прикрепить новый файл</h2>
    <%= form_for(@attachment) do |f| %>
      <div style="display: none;">
	<%= text_field_tag :article_id, @article.id %>
      </div>
      <div class="filefild">
	<%= f.select :id, options_for_select = @attachments.collect {|p| [p.title, p.id] }, {:include_blank => ''} %>
      </div>
      <div class="filefild">
	<%= f.file_field :file %>
      </div>
      <div class="actions">
	<%= f.submit 'Прикрепить файл' %>
      </div>
    <% end %>
  <% end %>
</section>
