<article class="panel">
<%= render partial: 'article', locals: { article: @article } %>
</article>
<%  if @writer_permission %>
<%= form_for(@attachment) do |f| %>
  <div style="display: none;">
    <%= text_field_tag :article_id, @article.id %>
  </div>  
  <div class="filefild">
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit 'Прикрепить файл' %>
  </div>
<% end %>
<% end %>
<%= link_to 'Edit', "/editor" + request.path if @moderator_permission %>
<%= link_to 'Back', articles_path if @moderator_permission %>
