<section class="panel">
<h1>Список пользователей</h1>
<% if @administrator_permission %>
  <h2>Импорт пользователей</h2>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Загрузить" %>
  <% end %>
<%= link_to 'Скачать список пользователей', users_path(format: :xls) %>
<% end %>
<dl>
  <% @users.each do |user| %>
    <dt>
    <%= user.login %>
    </dt>
    <dd>
    <%= user.profile.last_name.empty? ? (link_to 'Профиль не заполнен', edit_user_profile_path(user)) : (link_to user.profile.full_name, user_profile_path(user)) %>
    </dd>
  <% end %>
<dl>
<%= will_paginate @users, next_label: "Вперед", previous_label: 'Назад' %>
</seciton>