<% content_for :title do %>
  Подразделения
<% end %>
<section class="panel">
<h1>Перечень подразделений</h1>
<% if @administrator_permission %>
  <h2>Импорт подразделений</h2>
  <%= form_tag import_divisions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Загрузить" %>
  <% end %>
<%= link_to 'Скачать список подразделений', divisions_path(format: :xls) %>
<% end %>
<% @divisions.each do |type, divisions| %>
  <% unless type == 'обучающиеся' && !@administrator_permission %>
  <%= content_tag(:a, '', name: type, style: 'padding-top: 45px;') %>
  <h2><%= first_letter_upcase(type.dup) %></h2>
    <ul class="no-bullet">
      <% divisions.each do |division| %>
	<li><%= link_to first_letter_upcase(division.name), division %></td>
      <% end %>
    </ul>
  <% end %>
<% end %>
</section>