<section class="panel">
<h1>Перечень подразделений</h1>
<% if @administrator_permission %>
  <h2>Импорт подразделений</h2>
  <%= form_tag import_divisions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Загрузить" %>
  <% end %>
<%= link_to 'Скачать список подразделений', divisions_path(format: :xls) %>
<% end %>
<% @divisions.each do |type, divisions| %>
  <a name="<%= type %>"></a><h2><%= first_letter_upcase(t(type, scope: [:divisions])) %></h2>
  <ul>
    <% divisions.each do |division| %>
      <li><%= link_to first_letter_upcase(division.name), division, class: (division.posts.count > 0 ? "label" : "label secondary") %></td>
    <% end %>
  </ul>
<% end %>
</section>