<div class="row panel">
  <div class="large-8 columns">
    <header>
      <h1><%= @division.name %></h1>
    </header>
    <%= link_to 'Добавить должность', new_division_post_path(@division), class: "button small" if @administrator_permission %>
    <dl>
    <dt><%= link_to @head.first.name, division_post_path(@division, @head.first) if @head.first %>
    </dt>
    <dd><%= link_to @head.first.user.profile.full_name_reg, user_profile_path(@head.first.user) if @head.first && @head.first.user %>
    </dd>
    </dl>
    <% if @posts.count > 1 %>
    <dl class="accordion" data-accordion>
  <dd>
    <a href="#employees">Сотрудники</a>
    <div id="employees" class="content">
      <dl>
      <% @employees.each do |employee| %>
	<dt><%= link_to employee.name, division_post_path(@division, employee) %>
	</dt>
	<dd><%= link_to employee.user.profile.full_name_reg, user_profile_path(employee.user) if employee.user && employee.user.profile %>
	</dd>
      <% end %>
      </dl>
    </div>
  </dd>
  </dl>
  <% end %>
  <% if @childs && @childs.count > 0 %>
    <dl class="accordion" data-accordion>
      <dd>
	<a href="#childs">Подразделения</a>
	<div id="childs" class="content">
	  <ul>
	  <% @childs.each do |child| %>
	    <li><%= link_to child.division.name, child.division %>
	  <% end %>
	  </ul>
	</div>
      </dd>
    </dl>
  <% end %>
  <p><%= sanitize_full(@division.about) if @division.about %>
    <%= render partial: 'articles/article', collection: @articles_fixed, locals: { dimension: '75x75' } %>
  </div>
  
  <div class="large-4 columns">
    <%= render partial: 'articles/article', collection: @articles_not_fixed, locals: { dimension: '75x75' } %>
    <% unless @division.email.empty? && @head.first && @head.first.phone.empty? %>
    <%= render partial: 'articles/first_image_attachment', locals: {image_attachment: @last_image_attachment, dimension: '75x75' } if @last_image_attachment %>
    <h2>Контакты</h2>
    <address> <%= "Адрес: #{@division.address}" if @division.address %>
    <%= "Телефон: #{number_to_phone(@head.first.phone, country_code: 7)}" if @head.first && !@head.first.phone.empty? %>
    <p><%= mail_to @division.email, 'Написать письмо', encode: "javascript" if @head.first && !@division.email.empty? %></address>
    <% end %>
    <h2>Как добраться</h2>
    <div id="map" style="width: 100%; height: 200px" data-name="<%= @division.name %>" data-address="<%= @division.address %>" data-latitude="<%= @division.latitude %>" data-longitude="<%= @division.longitude %>"></div>
  </div>
  <%  if @administrator_permission || (current_user == @head.first.user if @head.first) %>
    <%= form_for(@attachment) do |f| %>
      <div style="display: none;">
	<%= text_field_tag :division_id, @division.id %>
      </div>  
      <div class="filefild">
	<%= f.file_field :file %>
      </div>
      <div class="actions">
	<%= f.submit 'Прикрепить файл' %>
      </div>
    <% end %>
  <% end %>
</div>
