<div class="row">
  <div class="small-8 large-8 columns">
    <header>
      <h1><%= @division.name %></h1>
    </header>
    <%= link_to 'Добавить должность', new_division_post_path(@division), class: "button small" %>
    <dl>
    <dt>Руководитель
    </dt>
    <dd><%= link_to @head.first.user.profile.full_name_reg, user_profile_path(@head.first.user.profile) if @head.first %>
    </dd>
    </dl>
    <% if @posts.count > 1 %>
    <dl class="accordion" data-accordion>
  <dd>
    <a href="#employees">Сотрудники</a>
    <div id="employees" class="content">
      <dl>
      <% @employees.each do |employee| %>
	<dt><%= employee.name %>
	</dt>
	<dd><%= link_to employee.user.profile.full_name_reg, user_profile_path(employee.user.profile) %>
	</dd>
      <% end %>
      </dl>
    </div>
  </dd>
  </dl>
  <% end %>
  <% if @childs && @childs.count > 0 %>
    <dl class="accordion" data-accordion>
      <dd>
	<a href="#childs">Подразделения</a>
	<div id="childs" class="content">
	  <ul>
	  <% @childs.each do |child| %>
	    <li><%= link_to child.division.name, child.division %>
	  <% end %>
	  </ul>
	</div>
      </dd>
    </dl>
  <% end %>
    <%= render partial: 'articles/island', collection: @articles %>
  </div>
  
  <div class="small-4 large-4 columns">
  
  
    <address><%= @division.address %></address>
    <div id="map" style="width: 100%; height: 200px" data-name="<%= @division.name %>" data-address="<%= @division.address %>" data-latitude="<%= @division.latitude %>" data-longitude="<%= @division.longitude %>"></div>
  </div>
</div>
