<section class="panel">
<h1>Вложения</h1>
<ul class="no-bullet">
<% @mime_types.each do |m| %>
  <li><%= link_to m, attachments_path + "?mime_type=#{m}" %>
<% end %>
</ul>
<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Тип файла</th>
      <th>Превью</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= link_to attachment_name(attachment.title), attachment_path(attachment), target: 'blank' %></td>
        <td><%= link_to attachment.mime_type, attachments_path + "?mime_type=#{attachment.mime_type}" %></td>
        <td><%= image_tag(minify_img_path(attachment)) if attachment.thumbnail %></td>
        <td><%= link_to 'Удалить', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @attachments %>
</section>