<div class="row">
  <% if @menus['center'] %>
    <% @menus['center'].group_by(&:parent_id).first.last.each do |p| %>
      <div class="large-12 small-12 columns">
	  <ul class="side-nav" style="padding-top: 0;">
	    <% if @menus['center'].group_by(&:parent_id)[p.id] %>
	      <% @menus['center'].group_by(&:parent_id)[p.id].each do |c| %>
		<%= link_to c.path do %>
		  <li class="panel text-center"><h1 style="color: blue;"><%= c.title %></h1></li>
		<% end %>
	      <% end %>
	    <% else %>
	      <%= link_to p.path do %>
		<li class="panel text-center"><h1 style="color: blue;"><%= p.title %></h1></li>
	      <% end %>
	    <% end %>
	  </ul>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <%= link_to articles_path do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('/assets/news.jpg', width: '100%') %></div>
	<div class="panel"><h1>Новости</h1></div>
    </div>
  <% end %>
  <%= link_to '/divisions/141' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('/assets/education.jpg', width: '100%') %></div>
	<div class="panel"><h1>Образование</h1></div>
    </div>
  <% end %>
  <%= link_to '/divisions/140' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('/assets/science.jpg', width: '100%') %></div>
	<div class="panel"><h1>Наука</h1></div>
    </div>
  <% end %>
  <%= link_to '/divisions/107' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('/assets/training.jpg', width: '100%') %></div>
	<div class="panel"><h1>Воспитательная работа</h1></div>
    </div>
  <% end %>
  <%= link_to '/divisions/126' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('/assets/clinic.jpg', width: '100%') %></div>
	<div class="panel"><h1>Клиника</h1></div>
    </div>
  <% end %>
  <%= link_to '/articles/226' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('/assets/common.jpg', width: '100%') %></div>
	<div class="panel"><h1>Основные сведения</h1></div>
    </div>
  <% end %>
</div>
