<div class="row">
  <div class="small-6 large-4 columns">
      <div class="welcome-img"><%= image_tag('/assets/learning.jpg', width: '100%') %></div>
      <div class="panel"><h1>Обучение</h1></div>
  </div>
  <div class="small-6 large-4 columns">
      <div class="welcome-img"><%= image_tag('/assets/science.jpg', width: '100%') %></div>
      <div class="panel"><h1>Наука</h1></div>
  </div>
  <div class="small-6 large-4 columns">
      <div class="welcome-img"><%= image_tag('/assets/ipo.jpg', width: '100%') %></div>
      <div class="panel"><h1>ИПО</h1></div>
  </div>
  <div class="small-6 large-4 columns">
      <div style=""><%= image_tag('/assets/training.jpg', width: '100%') %></div>
      <div class="panel"><h1>Воспитательная работа</h1></div>
  </div>
  <div class="small-6 large-4 columns">
      <div class="welcome-img"><%= image_tag('/assets/clinic.jpg', width: '100%') %></div>
      <div class="panel"><h1>Клиника</h1></div>
  </div>
  <%= link_to articles_path do %>
  <div class="small-6 large-4 columns">
      <div class="welcome-img"><%= image_tag('/assets/news.jpg', width: '100%') %></div>
      <div class="panel"><h1>Новости</h1></div>
  </div>
  <% end %>
</div>
