<% if @menus['center'] %>
  <div class="row">
    <% @menus['center'].group_by(&:parent_id).first.last.each do |p| %>
      <div class="large-12 small-12 columns">
	  <ul class="side-nav" style="padding-top: 0;">
	    <% if @menus['center'].group_by(&:parent_id)[p.id] %>
	      <% @menus['center'].group_by(&:parent_id)[p.id].each do |c| %>
		<%= link_to c.path do %>
		  <li class="panel text-center"><h5 style="color: blue;"><%= c.title %></h5></li>
		<% end %>
	      <% end %>
	    <% else %>
	      <%= link_to p.path do %>
		<li class="panel text-center"><h5 style="color: blue;"><%= p.title %></h5></li>
	      <% end %>
	    <% end %>
	  </ul>
      </div>
    <% end %>
  </div>
<% end %>
<div class="row">
  <div class="small-12 large-6 columns">
    <%= link_to '/articles/8' do %>
      <div class="welcome-img">
        <%= image_tag('banner_isma', width: '100%') %>
      </div>
    <% end %>
  </div>
  <div class="small-12 large-6 columns">
    <%= link_to 'https://www.gosuslugi.ru/vuzonline?utm_source=bunner&utm_medium=main_3&utm_campaign=vuz_online', target: '_blank' do %>
      <div class="welcome-img">
        <%= image_tag('gosuslugi', width: '100%') %>
      </div>
    <% end %>
  </div>
</div>
<br/>
<div class="row">
  <%= link_to articles_path do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('news.jpg', width: '100%') %></div>
	<div class="panel"><h5>Новости</h5></div>
    </div>
  <% end %>
  <%= link_to '/divisions/141' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('education.jpg', width: '100%') %></div>
	<div class="panel"><h5>Образование</h5></div>
    </div>
  <% end %>
  <%= link_to '/divisions/140' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('science.jpg', width: '100%') %></div>
	<div class="panel"><h5>Наука</h5></div>
    </div>
  <% end %>
  <%= link_to '/divisions/107' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('training.jpg', width: '100%') %></div>
	<div class="panel"><h6>Воспитательная работа</h6></div>
    </div>
  <% end %>
  <%= link_to '/divisions/126' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('clinic.jpg', width: '100%') %></div>
	<div class="panel"><h5>Клиника</h5></div>
    </div>
  <% end %>
  <%= link_to '/sveden' do %>
    <div class="small-6 large-4 columns">
	<div class="welcome-img"><%= image_tag('common.jpg', width: '100%') %></div>
	<div class="panel"><h6>Сведения об образовательной организации</h6></div>
    </div>
  <% end %>
</div>
