<section class=panel>
  <div>
    <%= link_to 'К списку образовательных программ', educational_programs_path %>
  </div>
  <div class="right">
    <% if @moderator_permission %>
      <%= link_to edit_educational_program_path(@educational_program), title: 'Редактировать' do %>
        <i class="fi-page-edit"></i>
      <% end %>
      <%= link_to @educational_program, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fi-x"></i>
      <% end %>
    <% end %>
  </div>
  <h1><%= link_to @educational_program.name, @educational_program.attachment, target: 'blank'%></h1>
  <dl>
    <dt>Уровень обучения</dt>
    <dd><%= @educational_program.level %></dd>
    <dt>Код специальности</dt>
    <dd><%= @educational_program.code %></dd>
    <dt>Форма обучения</dt>
    <dd><%= @educational_program.form %></dd>
    <dt>Продолжительность обучения</dt>
    <dd><%= @educational_program.duration %></dd>
    <dt>Сведения об аккредитации</dt>
    <% if @educational_program.accreditation %>
      <dd><%= link_to "Свидетельство об аккредитации номер #{@educational_program.accreditation.number}, выдано #{@educational_program.accreditation.date_of_issue}, действительно до #{@educational_program.accreditation.expiration_date}", @educational_program.accreditation %></dd>
    <% else %>
      <dd>нет аккредитации</dd>
    <% end %>
  </dl>
</section>