<section class=panel>
  <div>
    <%= link_to 'К списку дисциплин', subjects_path %>
  </div>
  <div class="right">
    <% if @moderator_permission %>
      <%= link_to edit_subject_path(@subject), title: 'Редактировать' do %>
        <i class="fi-page-edit"></i>
      <% end %>
      <%= link_to @subject, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fi-x"></i>
      <% end %>
    <% end %>
  </div>
  <h1><%= link_to @subject.name, @subject.attachment, target: 'blank'%></h1>
  <dl>
    <dt>Образовательная программа</dt>
    <dd><%= link_to @subject.educational_program.educational_standart ? "#{@subject.educational_program.full_name} (#{@subject.educational_program.educational_standart.level})" : "#{@subject.educational_program.full_name}", @subject.educational_program %></dd>
  </dl>
</section>