<div class="panel<%= " pink" unless feedback.public %>">
<div class="right">
  <% if @moderator_permission || can_edit? %>
    <%= link_to published_toggle_feedback_path(feedback), title: (feedback.public ? 'Снять с публикации' : 'Опубликовать'), method: :put do %>
      <i class="fi-eye"></i>
    <% end %>
    <%= link_to up_feedback_path(feedback), title: 'Поднять наверх', method: :put do %>
      <i class="fi-arrow-up"></i>
    <% end %>
    <%= link_to edit_feedback_path(feedback), title: 'Редактировать ответ' do %>
      <i class="fi-page-edit"></i>
    <% end %>
    <%= link_to feedback, title: 'Удалить вопрос', method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fi-x"></i>
    <% end %>
  <% end %>
</div>
<p class="clearfix">
<dt><%= sanitize_full markdown(feedback.question) if feedback.question %>
  <p class="subscript"><%= feedback.user.profile.full_name.empty? ? feedback.user.login : feedback.user.profile.full_name %>
  &nbsp;|&nbsp;
  <% case feedback.created_at.to_date %>
    <% when Time.now.to_date %>
      сегодня в 
	<%= time_tag feedback.created_at, :pubdate => true, :format => '%R' %>
      <% else %>
	<%= time_tag feedback.created_at, :pubdate => true, :format => '%e.%m.%Y %R' %>
  <% end %>
  </dt>
  <dd><%= sanitize_full markdown(feedback.answer) if feedback.answer %>
  <p class="subscript"><%= feedback.post.user.profile.full_name if feedback.post.user && feedback.answer %>
  &nbsp;|&nbsp;
  <% case feedback.updated_at.to_date %>
    <% when Time.now.to_date %>
      сегодня в 
	<%= time_tag feedback.updated_at, :pubdate => true, :format => '%R' %>
      <% else %>
	<%= time_tag feedback.updated_at, :pubdate => true, :format => '%e.%m.%Y %R' %>
  <% end %>
  </dd>
</div>