<%= form_for(@feedback) do |f| %>
  <% unless @feedback_posts.nil? %>
  <div class="field">
    <%= f.label 'Выберите сотрудника, к которому будет обращен Ваш вопрос' %>
    <%= f.select :to, options_for_select= @feedback_posts.collect {|p| [p.name, p.id] }, {:include_blank => ''} %>
  </div>
  <% end %>
  <div class="field">
    <%= f.text_area :question %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit 'Сохранить', class: "button small" %>
  </div>
<% end %>
