<%= render partial: 'title' %>
<section class="panel">
<h1>Вы можете задать свой вопрос одному из следущих сотрудников Академии</h1>
<ul>
  <% @feedback_posts.each do |p| %>
    <li><%= link_to "#{p.user.profile.full_name if p.user} - #{p.division.name} (#{p.name})", division_post_path(p.division, p) %></li>
  <% end %>
</ul>
<%= link_to 'Задать вопрос', new_feedback_path, class: "small button" if user_signed_in? %>
<% unless user_signed_in? %>
  <p class="alert label">Для того, чтобы иметь возможность задать вопрос, необходимо пройти процедуру регистрации на сайте</p>
<% end %>
<%= will_paginate @published_feedbacks, next_label: "Вперед", previous_label: 'Назад' %>
<dl>
<%= render partial: 'feedback', collection: @unpublished_feedbacks %>
</dl>
<dl>
<%= render partial: 'feedback', collection: @published_feedbacks %>
</dl>
<%= will_paginate @published_feedbacks, next_label: "Вперед", previous_label: 'Назад' %>
</section>