<%= render partial: 'title' %>
<section class="panel">
<h1>Задать вопрос администрации академии</h1>
<% if user_signed_in? %>
  <%= render 'q_form' %>
<% end %>
<% unless user_signed_in? %>
  <p class="alert label">Для того, чтобы иметь возможность задать вопрос, необходимо пройти процедуру регистрации на сайте</p>
<% end %>
<%= will_paginate @published_feedbacks, next_label: "Вперед", previous_label: 'Назад' %>
<dl>
<%= render partial: 'feedback', collection: @unpublished_feedbacks %>
</dl>
<dl>
<%= render partial: 'feedback', collection: @published_feedbacks %>
</dl>
<%= will_paginate @published_feedbacks %>
</section>