<% content_for :title do %>
  Сведения об образовательной организации. Руководство. Педагогический (научно-педагогический) состав.
<% end %>
<section class="panel">
<h1>Руководство. Педагогический (научно-педагогический) состав.</h1>
<p><%= autosub_details("&amp;[Навигация сведений об образовательной организации]").html_safe %></p>
<h2>Руководство</h2>
<table>
  <thead>
    <tr>
      <th>Ф.И.О.</th>
      <th width=30%>Занимаемая должность</th>
      <th>Телефон</th>
      <th>Электронная почта</th>
    <tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.user.profile.full_name, user_profile_path(post.user), itemprop: 'fio' if post.user %></td>
        <td itemprop="Post"><%= post.name %></td>
        <td itemprop='Telephone'><%= number_to_phone(post.phone, country_code: 7, area_code: true) if post && !post.phone.empty? %></td>
        <td><%= mail_to post.division.email, post.division.email, itemprop: 'e-mail' if post.division.email %></td>
    <% end %>
  </tbody>
</table>
<h2>Педагогический (научно-педагогический) состав</h2>
<% if @administrator_permission %>
  <%= link_to "Скачать список ППС", "/sveden/employees.xls" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Ф.И.О.</th>
      <th>Занимаемая должность</th>
      <th>Преподаваемые дисциплины</th>
      <th>Ученая степень</th>
      <th>Ученое звание</th>
      <th>Наименование направления подготовки и (или) специальность</th>
      <th>Повышение квалификации и (или) профессиональная переподготовка</th>
      <th>Общий стаж работы</th>
      <th>Стаж работы по специальности</th>
    <tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
        <tr>
          <td><%= link_to employee.full_name, user_profile_path(employee.user), itemprop: 'fio' %></td>
          <td itemprop="Post"><%= employee_posts(employee) %></td>
          <td itemprop="TeachingDiscipline"><%= employee.discipline %></td>
          <td itemprop="Degree"><%= employee.degree.name if employee.degree %></td>
          <td itemprop="AcademStat"><%= employee.academic_title.name if employee.academic_title %></td>
          <td itemprop="EmployeeQualification"><%= employee.qualification %></td>
          <td itemprop="ProfDevelopment"><%= employee.development %></td>
          <td itemprop="GenExperience"><%= employee.general_experience %></td>
          <td itemprop="SpecExperience"><%= employee.special_experience %></td>
        </tr>
    <% end %>
  </tbody>
</table>