<% content_for :title do %>
  Сведения об образовательной организации
<% end %>
<section class="panel">
<h1>Структура и органы управления образовательной организацией</h1>
<p><%= autosub_details("&amp;[Навигация сведений об образовательной организации]").html_safe %></p>
<h2>Структура образовательной организации ГБОУ ВПО ИвГМА Минздрава России:</h2>
<% @divisions.each do |type, divisions| %>
  <% unless type == 'обучающиеся' %>
  <%= content_tag(:a, '', name: type, style: 'padding-top: 45px;') %>
  <h2><%= first_letter_upcase(type.dup) %></h2>
    <ul class="no-bullet">
      <% divisions.each do |division| %>
        <li><h3><%= link_to first_letter_upcase(division.name), division, itemprop: 'name' %>
          <% if @administrator_permission %>
            <%= link_to edit_division_path(division), title: 'Редактировать подразделение' do %>
              <i class="fi-page-edit"></i>
            <% end %>
          <% end %>
          </h3>
        <dl style="padding-left: 1em;">
          <dt>Информация о руководителях структурных подразделений:</dt>
          <dd>
            <% division.head.each do |h| %>
              <dl>
                <dt>Ф.И.О.</dt>
                <dd itemprop="Fio"><%= h.user.profile.full_name if h.user %><span><%= ", #{h.name}" %></span>
                <% unless type == 'обучающиеся' %>
                  <% unless h.phone.empty? %>
                    <dt>Телефон:</dt>
                    <dd><%= multi_number_to_phone(h.phone, country_code: 7, area_code: true) if h && !h.phone.empty? %></dd>
                  <% end %>
                  <% unless division.email.empty? %>
                    <dt>Адрес электронной почты:</dt>
                    <dd><%= mail_to division.email, division.email, itemprop: 'E-mail' if h && !division.email.empty? %></dd>
                  <% end %>
                <% end %>
              </dl>
            <% end %>
          </dd>
          <dt>Местонахождение структурного подразделения:</dt>
          <dd><address itemprop="AddressStr"><%= full_address(division.address) if division.address %></address></dd>
          <% unless division.url.empty? %>
            <dt>Адрес официального сайта в сети интернет</dt>
            <dd><%= link_to division.url, division.url, target: 'blank', itemprop: 'Site' %></dd>
          <% end %>
          <% unless division.reference.nil? %>
            <dt>Положение о структурном подразделении</dt>
            <dd><%= link_to 'Положение', attachment_path(division.reference), target: 'blank', itemprop: "DivisionClause_DocLink" %></dd>
          <% end %>
        </dl>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
</section>
