<section  class="panel clearfix">
<%= link_to 'К подразделению', @post.division, class: "superscript right" %>
<h1><%= "#{@post.division.name} - #{@post.name}" %></h1>
<%= render partial: 'articles/first_image_attachment', locals: {image_attachment: @last_image_attachment, dimension: '150x150' } if @last_image_attachment %>
<p><%= link_to @profile.full_name_reg, user_profile_path(@profile.user) if @profile %>
<p><%= sanitize_full(@profile.about) if @profile.about %>
<% unless @division.email.empty? || @post.phone.empty? %>
<dl>
  <dt>Контакты</dt>
  <dd><p><%= mail_to @division.email, 'Написать письмо', encode: "javascript", subject: "Для #{@profile.full_name if @profile}" unless @division.email.empty? %></dd>
  <dd><p><%= "Телефон: #{number_to_phone(@post.phone, country_code: 7)}" unless @post.phone.empty? %></dd>
</dl>
<% end %>
</section>