<%= form_for @accreditation do |f| %>
  <% if @accreditation.errors.any? %>
    <ul>
      <% @accreditation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class=field>
    <%= f.label 'Номер свидетельства' %>
    <%= f.text_field :number %>
  </div>
  <div class=field>
    <%= f.label 'Дата выдачи' %>
    <%= f.text_field :date_of_issue, class: 'datepicker' %>
  </div>
  <div class=field>
    <%= f.label 'Дата окончания действия' %>
    <%= f.text_field :expiration_date, class: 'datepicker' %>
  </div>
  <div>
    <%= f.label 'Ссылка на свидетельство' %>
    <%= f.select :attachment_id, option_for_select = @attachments.collect {|p| [p.title, p.id]}, {include_blank: ''} %>
  </div>
  <div class=actions>
    <%= f.submit 'Добавить', class: 'button tiny' %>
  </div>
<% end %>