<section class=panel>
  <div>
    <%= link_to 'К списку учебных планов', academic_plans_path %>
  </div>
  <div class="right">
    <% if @moderator_permission %>
      <%= link_to edit_academic_plan_path(@academic_plan), title: 'Редактировать' do %>
        <i class="fi-page-edit"></i>
      <% end %>
      <%= link_to @academic_plan, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fi-x"></i>
      <% end %>
    <% end %>
  </div>
  <h1><%= link_to @academic_plan.name, @academic_plan.attachment, target: 'blank'%></h1>
  <dl>
    <dt>Учебный план</dt>
    <dd><%= link_to "#{@academic_plan.educational_program.name} (#{@academic_plan.educational_program.educational_standart.level})", @academic_plan.educational_program %></dd>
  </dl>
</section>