<section class=panel>
  <div>
    <%= link_to 'К списку учебных графиков', academic_schedules_path %>
  </div>
  <div class="right">
    <% if @moderator_permission %>
      <%= link_to edit_academic_schedule_path(@academic_schedule), title: 'Редактировать' do %>
        <i class="fi-page-edit"></i>
      <% end %>
      <%= link_to @academic_schedule, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fi-x"></i>
      <% end %>
    <% end %>
  </div>
  <h1><%= link_to @academic_schedule.name, @academic_schedule.attachment, target: 'blank'%></h1>
  <dl>
    <dt>Учебный план</dt>
    <dd><%= link_to @academic_schedule.educational_program.educational_standart ? "#{@academic_schedule.educational_program.name} (#{@academic_schedule.educational_program.educational_standart.level})" : "#{@academic_schedule.educational_program.name}", @academic_schedule.educational_program %></dd>
  </dl>
</section>