<div>
  <% case controller_name %>
  <% when 'articles' %>
    <% if @writer_permission %>
      <%= link_to new_article_path, title: 'Новая статья' do %>
	<i class="fi-plus"></i>
      <% end %>
    <% end %>
    <%= link_to articles_path, title: 'Список статей' do %>
      <i class="fi-list"></i>
    <% end %>
    <% if action_name == 'show' %>
      <% if @moderator_permission || current_user == @article.user %>
	<%= link_to edit_article_path(@article), title: 'Изменить настройки статьи' do %>
	  <i class="fi-key"></i>
	<% end %>
	<%= link_to "/editor" + request.path, title: 'Редактировать статью' do %>
	  <i class="fi-page-edit"></i>
	<% end %>
	<%= link_to @article, title: 'Удалить статью', method: :delete, data: { confirm: 'Are you sure?' } do %>
	  <i class="fi-x"></i>
	<% end %>
      <% end %>
    <% end %>
    
  <% when 'posts' %>
    <% if @administrator_permission %>
      <%= link_to new_division_post_path(@division), title: 'Новая должность' do %>
	<i class="fi-plus"></i>
      <% end %>
    <% end %>
    <%= link_to division_posts_path(@division), title: 'Список должностей' do %>
      <i class="fi-list"></i>
    <% end %>
    <% if action_name == 'show' %>
      <% if @administrator_permission || current_user == @post.user %>
	<%= link_to edit_division_post_path(@division, @post), title: 'Редактировать должность' do %>
	  <i class="fi-page-edit"></i>
	<% end %>
      <% end %>
      <% if @administrator_permission %>
	<%= link_to division_post_path(@division, @post), title: 'Удалить должность', method: :delete, data: { confirm: 'Are you sure?' } do %>
	  <i class="fi-x"></i>
	<% end %>
      <% end %>
    <% end %>
  
  <% when 'divisions' %>
    <% if @administrator_permission %>
      <%= link_to new_division_path, title: 'Новое подразделение' do %>
	<i class="fi-plus"></i>
      <% end %>
    <% end %>
    <%= link_to divisions_path, title: 'Список подразделений' do %>
      <i class="fi-list"></i>
    <% end %>
    <% if action_name == 'show' %>
      <% if @administrator_permission || current_user == @head.first.user %>
	<%= link_to edit_division_path(@division), title: 'Редактировать подразделение' do %>
	  <i class="fi-page-edit"></i>
	<% end %>
      <% end %>
      <% if @administrator_permission %>
	<%= link_to division_path(@division), title: 'Удалить подразделение', method: :delete, data: { confirm: 'Are you sure?' } do %>
	  <i class="fi-x"></i>
	<% end %>
      <% end %>
    <% end %>
    
  <% when 'profiles' %>
    <% if action_name == 'show' %>
      <% if @administrator_permission || current_user == @user %>
	<%= link_to edit_user_profile_path(@user), title: 'Редактировать профиль' do %>
	  <i class="fi-key"></i>
	<% end %>
	<%= link_to @user, title: 'Удалить профиль', method: :delete, data: { confirm: 'Are you sure?' } do %>
	  <i class="fi-x"></i>
	<% end %>
      <% end %>
    <% end %>
    
  <% end %>
</div>