<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ISMA" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
	<li class="name">
	  <h1><%= link_to 'Главная', root_path, class: "show-for-medium-up" %></h1>
	  <%= link_to root_path, class: "show-for-small-only" do %>
	    <span class="title-super">ИвГМА</span>
	  <% end %>
	</li>
	<li class="toggle-topbar menu-icon"><a href="#"><span>Меню</span></a></li>
      </ul>

      <section class="top-bar-section">
	<!-- Right Nav Section -->
	<ul class="right">
	  <% if user_signed_in? %>
	    <% if @moderator_permission %>
	      <% if @articles_count > 0 %>
		<li><%= link_to archives_path + "?published=0" do %>
		  <i class="fi-page" style="color: red;" title="<%= "Имеется неопубликованных статей, требующих Вашего внимания - #{@articles_count} " %>"></i></li>
		  <% end %>
		</li>
	      <% end %>
	    <% end %>
	    <% if @feedbacks_count > 0 %>
	      <li><%= link_to feedbacks_path do %>
		<i class="fi-mail" style="color: red;" title="<%= "Имеется Ваших вопросов, на которые еще не даны ответы - #{@feedbacks_count} " %>"></i></li>
		<% end %>
	      </li>
	      <% end %>
	    <li class="has-dropdown">
	      <a href="#"><%= current_user.login %>. Личный кабинет</a>
	      <ul class="dropdown">
		<% if @administrator_permission %>
		  <li><%= link_to 'Добавить пункт меню', "#", "data-reveal-id" => 'add_menu' %></li>
		  <li><%= link_to 'Меню', menus_path %></li>
		  <li><%= link_to 'Пользователи', users_path %></li>
		  <li><%= link_to 'Группы', groups_path %></li>
		  <li><%= link_to 'Детали', details_path %></li>
		  <li><%= link_to 'Вложения', attachments_path %></li>
		<% end %>
		<% if @moderator_permission %>
		  <li><%= link_to 'Неопубликованные статьи', archives_path + "?published=0" %></li>
		<% end %>
		<% if @writer_permission %>
		  <li><%= link_to 'Написать статью', new_article_path %></li>
		<% end %>
		  <li><%= link_to 'Мой профиль', user_profile_path(current_user) %></li>
		  <li><%= link_to "Редактировать учетную запись", edit_user_registration_path %></li>
		  <li><%= link_to "Удалить учетную запись", registration_path(current_user), method: :delete, data: {confirm: "Уверены? Ваша учетная запись будет удалена без возможности восстановления"} %></li>
	      </ul>
	    </li>
	  <% end %>
	  <% if user_signed_in? %>
	  <li><%= link_to 'Выйти', destroy_user_session_path, method: "delete" %></li>
	  <% else %>
	  <li><%= link_to 'Вход', new_user_session_path %></li>
	  <li><%= link_to 'Регистрация', new_user_registration_path %></li>
	  <% end %>
	</ul>

	<!-- Left Nav Section -->
	<ul class="left">
	<% if @menus['up'] %>
	  <% @menus['up'].group_by(&:parent_id).first.last.each do |p| %>
	    <% if @menus['up'].group_by(&:parent_id)[p.id] %>
	      <li class="has-dropdown">
		<%= link_to p.title, '#' %>
		<ul class="dropdown">
		<% @menus['up'].group_by(&:parent_id)[p.id].each do |c| %>
		  <% if @menus['up'].group_by(&:parent_id)[c.id] %>
		    <li class="has-dropdown">
		      <%= link_to c.title, '#' %>
		      <ul class="dropdown">
		      <% @menus['up'].group_by(&:parent_id)[c.id].each do |cc| %>
			<li><%= link_to cc.title, cc.path %></li>
		      <% end %>
		      </ul>
		    </li>
		    <% else %>
		      <li><%= link_to c.title, c.path %></li>
		    <% end %>
		<% end %>
		</ul>
	      </li>
	    <% else %>
	      <li><%= link_to p.title, p.path %></li>
	    <% end %>
	  <% end %>
	<% end %>
	</ul>
      </section>
    </nav>
  </div>
  <div class="row hide-for-large-up panel">
    <div class="small-6 columns">
      <ul class="side-nav">
      <li> <%= link_to "Обучение", '#' %>
	<li><%= link_to "Наука", '#' %>
	<li><%= link_to "ИПО", '/divisions/108' %>
      </ul>
    </div>
    <div class="small-6 columns">
      <ul class="side-nav">
      <li> <%= link_to "Воспитательная работа", '#' %>
	<li><%= link_to "Клиника ИвГМА", '/divisions/126' %>
	<li><%= link_to "Новости", articles_path %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-10 columns show-for-medium-up">
    <%= image_tag('/assets/gerb.png', size: '48x48', class: "left", style: "padding-top: 7px;") %>
          <h1 class="title" style="padding-top: 20px;" title="<%= @details_hash['Полное наименование академии'] %>">Ивановская государственная медицинская академия</h1>
    </div>
    <div class="large-2 small-12 columns" style="padding-top: 20px;">
      <%= form_tag("/search", method: "get") do %>
	<%= search_field_tag :search, nil, :placeholder => "Найти..." %>
	<%= submit_tag 'Найти', class: "hide" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-10 columns">
      <% if notice %>
	<p class="success label"><%= notice %></p>
      <% end %>
      <% if alert %>
	<p class="alert label"><%= alert %></p>
      <% end %>
      <% if flash[:error] %>
	<p class="alert label"><%= flash[:error] %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns show-for-large-up">
    <section class="panel">
      <ul class="side-nav">
      <% if @menus['left'] %>
	<% @menus['left'].group_by(&:parent_id).first.last.each do |p| %>
	  <% if @menus['left'].group_by(&:parent_id)[p.id] %>
	    <hr />
	    <% @menus['left'].group_by(&:parent_id)[p.id].each do |c| %>
	      <li><%= link_to c.title, c.path %></li>
	    <% end %>
	  <% else %>
	    <li><%= link_to p.title, p.path %></li>
	  <% end %>
	<% end %>
      <% end %>
      </ul>
      </section>
    </div>
    <div class="large-10 columns">
	<%= yield %>
    </div>
  </div>
      <div class="row">
	<div class="large-12 small-12 columns">
    <footer class="panel">
      <div class="row">
	<% if @menus['down'] %>
	  <% @menus['down'].group_by(&:parent_id).first.last.each do |p| %>
	    <div class="large-<%= @down_block_count %> columns">
		<ul class="side-nav">
		  <% if @menus['down'].group_by(&:parent_id)[p.id] %>
		    <% @menus['down'].group_by(&:parent_id)[p.id].each do |c| %>
		      <li><%= link_to c.title, c.path =~ /^http:\/\// ? c.path : "http://#{c.path}", target: 'blank' %></li>
		    <% end %>
		  <% else %>
		    <li><%= link_to p.title, p.path =~ /^http:\/\// ? p.path : "http://#{p.path}", target: 'blank' %></li>
		  <% end %>
		</ul>
	    </div>
	  <% end %>
	<% end %>
      </div>
      <div class="row">
	<div class="large-12 columns">
	  <address><%= @details_hash['Полное наименование академии'] %><br /><%= @details_hash['Адрес'] %></address>
	</div>
      </div>
    </footer>
    <%= link_to 'Задать вопрос', feedbacks_path, id: 'feedback', class: 'button tiny' %>
</div>
</div>
    <% if @administrator_permission %>
      <div id="add_menu" class="reveal-modal medium" data-reveal>
	<%= render partial: 'menus/form' %>
	<a class="close-reveal-modal">&#215;</a>
      </div>
    <% end %>
    <%= javascript_include_tag "application" %>
    <% if controller_name == 'divisions' && action_name == 'show' %>
	<%= javascript_include_tag "http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" %>
    <%= javascript_include_tag "ymap" %>
    <% end %>
    <% if action_name == 'edit' || action_name == 'new' || action_name == 'create' %>
      <%= javascript_include_tag "ckeditor/ckeditor" %>
      <%= javascript_include_tag "ckeditor_init" %>
    <% end %>
  </body>
</html>
