<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ISMA" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
	<li class="name">
	  <h1>
	    <%= link_to root_path, class: "show-for-medium-up" do %>
	      <i class="fi-home"></i>
	    <% end %>
	  </h1>
	  <%= link_to root_path, class: "show-for-small-only" do %>
	    <span class="title-super">ИвГМА</span>
	  <% end %>
	</li>
	<li class="toggle-topbar menu-icon"><a href="#"><span>Меню</span></a></li>
      </ul>

      <section class="top-bar-section">
	<!-- Right Nav Section -->
	<ul class="right">
	<% if @administrator_permission %>
	  <li class="has-dropdown">
	    <a href="#">Меню</a>
	    <ul class="dropdown">
	      <li><%= link_to 'Добавить пункт меню', "#", "data-reveal-id" => 'add_menu' %></li>
	    </ul>
	  </li>
	  <% end %>
	  <% if user_signed_in? %>
	  <li><%= link_to 'Выйти', destroy_user_session_path, method: "delete" %></li>
	  <% else %>
	  <li><%= link_to 'Вход', new_user_session_path %></li>
	  <li><%= link_to 'Регистрация', new_user_registration_path %></li>
	  <% end %>
	</ul>

	<!-- Left Nav Section -->
	<ul class="left">
	<% if @menus['up'] %>
	  <% @menus['up'].group_by(&:parent_id).first.last.each do |p| %>
	    <% if @menus['up'].group_by(&:parent_id)[p.id] %>
	      <li class="has-dropdown">
		<%= link_to p.title, '#' %>
		<ul class="dropdown">
		<% @menus['up'].group_by(&:parent_id)[p.id].each do |c| %>
		  <% if @menus['up'].group_by(&:parent_id)[c.id] %>
		    <li class="has-dropdown">
		      <%= link_to c.title, '#' %>
		      <ul class="dropdown">
		      <% @menus['up'].group_by(&:parent_id)[c.id].each do |cc| %>
			<li><%= link_to cc.title, cc.path %></li>
		      <% end %>
		      </ul>
		    </li>
		    <% else %>
		      <li><%= link_to c.title, c.path %></li>
		    <% end %>
		<% end %>
		</ul>
	      </li>
	    <% else %>
	      <li><%= link_to p.title, p.path %></li>
	    <% end %>
	  <% end %>
	<% end %>
	</ul>
      </section>
    </nav>
    </div>
    <div class="row" id="container">
    <div class="row hide-for-large-up panel">
      <div class="small-6 columns">
	<ul class="side-nav">
	 <li> <%= link_to "Обучение", '#' %>
	  <li><%= link_to "Наука", '#' %>
	  <li><%= link_to "Профессоинальное обучение", '#' %>
	</ul>
      </div>
      <div class="small-6 columns">
	<ul class="side-nav">
	 <li> <%= link_to "Воспитательная работа", '#' %>
	  <li><%= link_to "Клиника", '#' %>
	  <li><%= link_to "Новости", '#' %>
	</ul>
      </div>
    </div>
      <div class="small-6 columns">
      </div>
    </div>
      <div class="large-2 columns panel show-for-large-up">
	<ul class="side-nav">
	<% if @menus['left'] %>
	  <% @menus['left'].group_by(&:parent_id).first.last.each do |p| %>
	    <% if @menus['left'].group_by(&:parent_id)[p.id] %>
	    <li class="has-dropdown">
	      <%= link_to p.title, '#' %>
	      <ul class="dropdown">
	      <% @menus['left'].group_by(&:parent_id)[p.id].each do |c| %>
		<li><%= link_to c.title, c.path %></li>
	      <% end %>
	      </ul>
	    </li>
	    <% else %>
	      <li><%= link_to p.title, p.path %></li>
	    <% end %>
	  <% end %>
	<% end %>
	</ul>
      </div>
      <div class="small-12 large-10 columns">
	<% if notice %>
	  <p class="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert"><%= alert %></p>
	<% end %>
	<div class="row">
	  <div class="large-10 columns show-for-medium-up">
	    <h1 class="title">Ивановская государственная медицинская академия</h1>
	  </div>
	  <div class="large-2 small-12 columns">
	    <%= form_tag("/search", method: "get") do %>
	      <%= search_field_tag :search, nil, :placeholder => "Найти..." %>
	      <%= submit_tag 'Найти', class: "hide" %>
	    <% end %>
	    <%= render partial: 'layouts/icons_panel' %>
	  </div>
	</div>
	<%= yield %>
      </div>
    </div>
    <footer class="panel">
      <div class="row">
      <% if @menus['down'] %>
	<% @menus['down'].group_by(&:parent_id).first.last.each do |p| %>
	  <div class="small-<%= @down_block_count %> large-<%= @down_block_count %> columns">
	      <ul class="side-nav">
		<% if @menus['down'].group_by(&:parent_id)[p.id] %>
		  <% @menus['down'].group_by(&:parent_id)[p.id].each do |c| %>
		    <li><%= link_to c.title, c.path =~ /^http:\/\// ? c.path : "http://#{c.path}", target: 'blank' %></li>
		  <% end %>
		<% else %>
		  <li><%= link_to p.title, p.path =~ /^http:\/\// ? p.path : "http://#{p.path}", target: 'blank' %></li>
		<% end %>
	      </ul>
	  </div>
	<% end %>
      <% end %>
      </div>
      <div class="row">
	<div class="large-12 small-12 columns">

	<address><%= @details_hash['Полное наименование академии'] %><br /><%= @details_hash['Адрес'] %></address>
	</div>
      </div>
    </footer>
<div id="add_menu" class="reveal-modal medium" data-reveal>
  <%= render partial: 'menus/form' %>
  <a class="close-reveal-modal">&#215;</a>
</div>
    <%= javascript_include_tag "http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" %>
    <%= javascript_include_tag "application" %>
    <% if controller_name == 'articles' && action_name == 'show' %>
    <script>
      jQuery(window).on('mercury:ready', function() { Mercury.saveUrl = '/articles/' + <%= @article.id %> +"/mercury_update"; });
    </script>
    <% end %>
  </body>
</html>